#footer {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Esto hará que todos los hijos de .container se estiren para llenar el contenedor */
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo para cada sección */
#footer #logo,
#footer #direccion,
#footer #informacion {
    flex: 1;
    text-align: center;
}

#footer #direccion, #footer #informacion {
    padding-top: 5px; /* Ajusta este valor según sea necesario */
    padding-bottom: 5px; /* Ajusta este valor según sea necesario */
}


/* Estilos específicos para el logo */
#footer #logo {
    background-image: url('../recursos/logo/logoKebab.png');
    background-repeat: no-repeat;
    background-position: left center; /* Mueve el logo a la izquierda */
    background-size: contain;
    width: 100px; /* Ajusta el ancho según el tamaño del logo */
    height: 100px; /* Ajusta la altura según el tamaño del logo */
    /* margin: 0; Elimina el centrado automático */
    margin-top: 2%;
}


/* Estilo para la sección de dirección */
#footer #direccion {

    margin-right: 60px; /* Agrega separación entre las secciones */
}

#footer #direccion h1 {
    font-size: 1.2em;
    font-weight: bold;
}

#footer #direccion p {
    margin: 5px 0;
}

/* Estilo para la sección de información */
/* #footer #informacion {
    text-align: right;
} */

#footer #informacion a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

#footer #informacion h1 {
    font-size: 1.2em;
    font-weight: bold;
}

#footer #informacion a:hover {
    text-decoration: underline;
}

/* Responsividad para pantallas pequeñas
@media (max-width: 768px) {
    #footer .container {
        flex-direction: column;
        text-align: center;
    }

    #footer #direccion, #footer #informacion {
        text-align: center;
    }
} */
